body{
    background-color: rgb(238, 238, 244);
}
.title-heading{
    margin-left: 43.6%;
    font-size: 50px;
    color: rgb(10, 10, 12);
}
.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 100px;
}
.search-main-container{
    position: relative;
    margin-bottom: 30px;
}
.search-box{
    width: 500px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 50px;
    color: rgb(155, 147, 147);
    margin-left: 32%;
    position: absolute;
}
.img-div{
    position: absolute;
    left: 32.9%;
    top: 5.5px;
}
.search-img{
   height: 24px;
}